.content-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 1rem;
  width: 100%;
}

.card {
  background-color: rgb(242, 194, 106);
  color: black;
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 20px;
  width: 250px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input {
  border-radius: 6px;
  line-height: 3;
}

#gender-select {
  height: 32px;
  font-size: 15px;
}

.save-btn {
  padding: 10px;
  border: 2px, solid, black;
  border-radius: 5px;
  margin-bottom: 1rem;
  margin-left: 4rem;
  width: 80px;
  background-color: rgb(191, 187, 187);
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-btn {
  padding: 10px;
  border: 2px, solid, black;
  border-radius: 5px;
  margin-top: 1rem;
  margin-left: 4rem;
  width: 80px;
  background-color: rgb(191, 187, 187);
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
