.card-container {
  border: 2px solid white;
  display: grid;
  grid-template-columns: 1fr 1fr !important;
  gap: 0.8rem;
  padding: 1rem;
}

.edit-btn,
.delete-btn {
  background-color: rgb(194, 151, 151);
  color: black;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: rgb(168, 131, 131);
    color: black;
  }
}

.user-image {
  padding: 1rem;
  width: 100px;
  height: auto;
}
.benutzername {
  display: flex;
  align-items: center;
}
