.card-container {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.8rem;
  padding: 1rem;
  width: 300px;
  height: auto;
  box-shadow: 2px 2px 2px 2px var(--text);
}

.title-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.user-image {
  padding: 1rem;
  width: 80px;
  flex-shrink: 0;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
  padding: 0.5rem;
}

.edit-btn,
.delete-btn {
  background-color: rgb(255, 95, 0);
  color: black;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    background-color: rgb(148, 144, 143);
    color: black;
  }
}
.info-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  width: 200px;
}
