:root {
  --text: rgb(255, 95, 0);
  --bg: #1a1a1a;
  --border: #e5e4e7;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color: var(--text);
  background: var(--bg);
}

body {
  margin: 0;
  padding: 0;
}
