:root {
  --text: #ff4500;
  --bg: #1a1a1a;
  --border: #e5e4e7;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color: var(--text);
  background: var(--bg);
}

#root {
  width: 900px;
  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
}

body {
  margin: 0;
}
